<!DOCTYPE html>
<html lang="en">
<head>
	<title>TODO Application</title>
	<meta charset="utf-8">
	<script	  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/ToDo.css">
</head>
<body>
	<div id="wrapper">
		<div id="header"><span id="ind">TO DO LIST</span><span id="toggle"><i class="fa fa-plus" aria-hidden="true"></i></span></div>
		<input type="text" name="textbox" placeholder="Add New TO-DO" class="">
		<ul id="ul">
			<li>Buy Groceries</li>
			<li>Take out the dog for a walk</li>
			<li>Complete work project</li>
			<li>Watch new season of Narcos</li>
			<li>Go to doctor</li>			
		</ul>		
	</div>

	<script type="text/javascript" src="/assets/js/ToDo.js"></script>
</body>
</html>